body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   min-height: 100vh;
   margin: 0;
   padding-top: 20px;
   background: linear-gradient(to right, #ff9966, #ff5e62);
   font-family: 'Arial', sans-serif;
}

h1 {
   font-size: 2.5em;
   color: white;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#task-form {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   max-width: 425px;
   margin-top: 20px;
}

#task-form input {
   flex-grow: 1;
   padding: 10px;
   margin: 5px 0;
   border-radius: 5px;
   margin-right: 17px;
}

#expected-date-input {  
   width: 205.55px;
   height: 15.61px;
   padding: 5px; 
   margin: 5px 0;  
   border-radius: 5px; 
   margin-right: 10px; 
}

#task-form button {
   background-color: #ff5e62;
   color: white;
   cursor: pointer;
   padding: 9px;
   border-radius: 5px;
}

#task-form button:hover {
   background-color: #ff9966;
}

.task-header {
   color: black;
   padding: 10px;
   border-radius: 32px;
   text-align: center;
 }

.task-list {
   list-style-type: none;
   padding: 0;
   margin-top: 20px;
   width: 100%;
   max-width: 806px;
}

.task-item {
   display: flex;
   align-items: center;
   background-color: white;
   color: black;
   padding: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-text {
   flex-grow: 1;
   margin-right: 25px;
   word-wrap: break-word;
   max-width: 200px;
}

.task-created-date, .task-expected-date {
   margin-right: 37px;
}

.status-select {
   margin-right: 10px;
   background-color: #00BCD4;
   color: white;
   padding: 5px 0px;
   border-radius: 5px;
   cursor: pointer;
   margin-left: 5px;
}

.edit-input {
   flex-grow: 1;
   padding: 5px;
   margin-right: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.edit-btn, .delete-btn {
   background-color: #ff5e62;
   color: white;
   padding: 5px 10px;
   border-radius: 5px;
   cursor: pointer;
   margin-left: 5px;
}

.edit-btn:hover, .delete-btn:hover {
   background-color: #ff9966;
}

.filters {
   margin-top: 20px;
}